* { 
    margin: 0; 
    padding: 0; 
    font-family: Arial, Helvetica, sans-serif;
}
html, body {
    height: 100%;
}
.nav {
    height: 10vh;
    padding: 0 1vw;
    border-bottom: 2px solid #dadada;
}

sub {
    font-size:0.65em;
}

i { 
    font-weight: 700;
    display: none;
}


.main{
    height: calc(100%);
    width: 100%;
    position: relative; 
}

.hero,.blog-gallery {
    margin: 1vw; 
}
.hero {
    padding: 4vh 4vw; 
}
.hero-img { 
    width: 150vw; 
}

.hero-img > img { 
    height: 20vmax;
    margin-left: 14vw; 
}

.text { 
    padding: 3vw 2vw;
    text-align: justify;
    margin-top: 1vw; 
}



.blog-gallery { 
    text-align: center;
    height: 90vh;
}

.home-gallery { 
    height: 45vh;
}

.card { 
    border: 2px solid black;
    width: 25%;
    border-radius: 1vh;
    box-shadow: 1px 1px gray;
    background-color: rgb(255, 255, 255);
}