* { 
    margin: 0; 
    padding: 0; 
    font-family: Arial, Helvetica, sans-serif;
}
html, body {
    height: 100%;
}
.nav {
    height: 10vh;
    padding: 0 1vw;
    border-bottom: 2px solid #dadada;
}

sub {
    font-size:0.65em;
}

i { 
    font-weight: 700;
    display: none;
}


.main{
    height: calc(100%);
    width: 100%;
    position: relative; 
}

.hero {
    padding: 0 2vw; 
    margin: 1vw; 
}

.hero-img { 
    width: 30vw;
}

.hero-img > img { 
    height: 20vmax;
}


.text > h3 {
    margin-left : 25px; 
    margin-top: 12px; 
}